@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    height: 100vh;
    text-align: right;
}

.header h1 {
    padding-right: 230px;
    padding-top: 220px;
    color: #FFF;
    font-weight: 700px;
    font-size: 65px;
}

.header-title-description {
    padding: 24px 230px 26px 876px;
    font-weight: 400;
    line-height: 26px;
    color: #FFF;
    font-weight: 400px;
}

.header-button {
    border-radius: 5px;
    background: #FFF;
    margin-right: 230px;
    padding: 8px 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: blue;
}