@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header style */

header {
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    height: 100vh;
    text-align: right;
}

.header h1 {
    padding-right: 230px;
    padding-top: 220px;
    color: #FFF;
    font-weight: 700px;
    font-size: 65px;
}

.header-title-description {
    padding: 24px 230px 26px 876px;
    font-weight: 400;
    line-height: 26px;
    color: #FFF;
    font-weight: 400px;
}

.header-button {
    border-radius: 5px;
    background: #FFF;
    margin-right: 230px;
    padding: 8px 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: blue;
}


/* Previous year failure part */

.previous-year-failure-container {
    display: flex;
    gap: 130px;
    margin-top: 100px;
}

.failure-img img {
    padding-left: 200px;
}

.failure-list {
    padding-top: 200px;
}

.failure-list-heading {
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}

.failure-list-description {
    padding-right: 350px;
    color: var(--Dark-02, #444343);
    font-weight: 400;
    line-height: 26px;
}

.failure-list ul{
    padding-left: 10px;
    padding-top: 20px;
    list-style-type: none;
}

.failure-list ul li{
    padding-bottom: 10px;
}

.failure-list ul li::before{
    content: "\2713";
    color: green;
    padding-right: 8px;
}

/* Plans section style */



/* Responsive style */

/* for mobile */

@media screen and (max-width:576px) {
    header {
        background-image: none;
        background-color: beige;
        height: auto;

    }

    .header h1 {
        color: blue;
        padding: 10px;
        font-size: 55px;
        text-align: center;
    }

    .header-title-description {
        padding: 0;
        color: rgb(85, 82, 82);
        text-align: center;
    }

    .header-button {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
        position: relative;
        left: 30px;
    }

    .previous-year-failure-container{
        flex-direction: column;
    }

    .failure-img img{
        padding-left: 50px;
        margin: 0;
        height: 500px;   
    }

    .failure-list{
        padding: 0;
        margin-top: -50px;
    }
    .failure-list-heading{
        text-align: center;
    }

   .failure-list-description{
    padding: 20px;
   }

   .failure-list ul{
    padding-left: 25px;
    padding-top: 10px;
   }
}

/* for tablet */

@media screen and (min-width:576px) and (max-width:1060px) {
    header {
        background-color: beige;
        /* height: fit-content; */
        background-image: none;
        height: auto;
    }

    .header h1 {
        color: blue;
        padding: 10px;
        font-size: 55px;
        text-align: center;
        margin-top: 20px;
    }

    .header-title-description {
        padding: 0;
        color: rgb(85, 82, 82);
        text-align: center;
        margin: 10px 30px;
    }

    .header-button {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
        position: relative;
        right: 130px;

    }

    .previous-year-failure-container{
        flex-direction: column;
    }


    .failure-list{
        padding: 0;
        margin-top: -50px;
    }

    .failure-list-heading{
        text-align: center;
    }

    .failure-list-description{
        padding: 0 80px;
        text-align: center;
       }
    
       .failure-list ul{
        padding-left: 120px;
        padding-top: 20px;
       }

}