@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header style */

header {
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    height: 100vh;
    text-align: right;
}

.header h1 {
    padding-right: 230px;
    padding-top: 220px;
    color: #FFF;
    font-weight: 700px;
    font-size: 65px;
}

.header-title-description {
    padding: 24px 230px 26px 876px;
    font-weight: 400;
    line-height: 26px;
    color: #FFF;
    font-weight: 400px;
}

.header-button {
    border-radius: 5px;
    background: #FFF;
    margin-right: 230px;
    padding: 8px 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: blue;
}


/* Previous year failure part */

.previous-year-failure-container {
    display: flex;
    gap: 130px;
    margin-top: 100px;
}

.failure-img img {
    padding-left: 200px;
}

.failure-list {
    padding-top: 200px;
}

.failure-list-heading {
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}

.failure-list-description {
    padding-right: 350px;
    color: var(--Dark-02, #444343);
    font-weight: 400;
    line-height: 26px;
}

.failure-list ul {
    padding-left: 10px;
    padding-top: 20px;
    list-style-type: none;
}

.failure-list ul li {
    padding-bottom: 10px;
}

.failure-list ul li::before {
    content: "\2713";
    color: green;
    padding-right: 8px;
}

/* Plans section style */
.plans-content-container {
    background: #f5eaea;
    margin: 0 140px;
    border-radius: 16px;
}

.plans-title {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 60px;
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700px;
    padding-top: 50px;
}

.plans-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0px 50px 50px 50px;

}

.plans-container h3 {
    padding: 8px;
    font-size: 30px;
    font-weight: 700;
}

.plans-container p {
    color: var(--Dark-03, #737272);
    text-align: center;
    font-size: 25px;
    font-weight: 500;

}

/* watch section style */

.watch-container {
    width: 1140px;
    height: 300px;
    margin: 100px 140px 100px 220px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url('../images/watch.png');
    border-radius: 15px;

}

.watch-container h1 {
    padding: 80px 617px 20px 60px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.watch-container button {
    margin-left: 62px;
    border: none;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
}

/* footer style */

footer {
    display: flex;
    gap: 300px;
    padding: 130px 130px 100px 160px;
    background-color: var(--Dark-01, #151414);
    color: white;
}

.footer-contact{
    padding-left: 100px;
}

.footer-contact h1 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer-contact p {
    color: #FFF;
    font-weight: 400;
    line-height: 26px;
    width: 485px;
}

.icons {
    display: flex;
    gap: 20px;
}

.subscribe{
    padding-top: 50px;
}

.subscribe h2 {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
}

.subscribe input {
    background: var(--Dark-01, #151414);
    padding: 15px 45px;
    border: 1px solid white;
    border-radius: 10px;

}


.subscribe button {
    margin-top: 20px;
    background: b;
    border-radius: 8px;
    background: #005FAC;
    padding: 8px 12px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid white;

}

/* Responsive style */

/* for mobile */

@media screen and (max-width:576px) {
   

    header {
        background-image: none;
        background-color: beige;
        height: auto;

    }

    .header h1 {
        color: blue;
        padding: 10px;
        font-size: 55px;
        text-align: center;
    }

    .header-title-description {
        padding: 0;
        color: rgb(85, 82, 82);
        text-align: center;
    }

    .header-button {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
        position: relative;
        left: 30px;
    }

    .previous-year-failure-container,
    .plans-container , footer {
        flex-direction: column;
    }

    .failure-img img {
        padding-left: 50px;
        margin: 0;
        height: 500px;
    }

    .failure-list {
        padding: 0;
        margin-top: -50px;
    }

    .failure-list-heading {
        text-align: center;
    }

    .failure-list-description {
        padding: 20px;
    }

    .failure-list ul {
        padding-left: 25px;
        padding-top: 10px;
    }

    .plans-content-container {
        background: none;
        margin-top: -100px;


    }

    .plans-container {
        margin: 0;
        padding: 0;
    }

    .plans {
        margin-bottom: 50px;
    }

    .plans-container h3 {
        font-size: 25px;
    }


    .plans-container p {
        font-size: 20px;
    }

    .plans-title {
        text-align: center;
    }

    .watch-container {
        display: none;
    }

    footer{
        margin: 0;
        padding: 50px 40px;
    }

    .footer-contact{
        padding: 0;
        margin: 0;
    }

    .subscribe{
        margin: 0;
        padding: 0;
        position: relative;
       bottom:170px;
    }
}

/* for tablet */

@media screen and (min-width:576px) and (max-width:1060px) {
    header {
        background-color: beige;
        /* height: fit-content; */
        background-image: none;
        height: auto;
    }

    .header h1 {
        color: blue;
        padding: 10px;
        font-size: 55px;
        text-align: center;
        margin-top: 20px;
    }

    .header-title-description {
        padding: 0;
        color: rgb(85, 82, 82);
        text-align: center;
        margin: 10px 30px;
    }

    .header-button {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
        position: relative;
        right: 130px;

    }

    .previous-year-failure-container , footer{
        flex-direction: column;
    }


    .failure-list {
        padding: 0;
        margin-top: -50px;
    }

    .failure-list-heading {
        text-align: center;
    }

    .failure-list-description {
        padding: 0 80px;
        text-align: center;
    }

    .failure-list ul {
        padding-left: 120px;
        padding-top: 20px;
    }

    .plans-content-container {
        margin: 0 50px;
    }

    .watch-container {
        margin-left: 50px;
        width: 900px;
    }

    .watch-container h1 {
        padding: 70px 500px 20px 50px;
    }

}